extends layouts/main-layout.pug
    
block styles
    link(href="/css/main.css", rel="stylesheet")
    link(href="/css/product.css", rel="stylesheet")
    link(href="/css/forms.css", rel="stylesheet")

block content
    form.product-form(action="/admin/product", method="Post")
        div.form-control
            lable(for="title") Title    
            input(name="title", type="text")#title
            
        button.btn(type="submit") Add Product
        
