extends layouts/main-layout.pug

block styles
    link(href="/css/main.css", rel="stylesheet")

block content
    if prods.length > 0
        .grid
            each product in prods
                article.card.product-item
                    header.card__header
                        h1.product__title #{product.title}
                    div.card__image
                            img(src="https://www.google.co.in/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjrtdDoidPeAhVJIIgKHYRjCR0QjRx6BAgBEAU&url=http%3A%2F%2Ftime.com%2F3936846%2Fpowerful-books-list%2F&psig=AOvVaw0qlpd7WPZaToXiXlKHLj-K&ust=1542257169554785", alt="The book")
                    div.card__content  
                            h2.product__price $19.99
                            p.product__description A very interesting book about me
                    .card__actions
                            button.btn Add to Cart
    else 
        h1 No Product
            